﻿<div>
    Who will play first?:
    <select [(ngModel)]="selectedPlayerType">
        <option value="0">Player 1</option>
        <option value="1">Computer</option>
    </select>

    Types:
    <select [(ngModel)]="selectedCardType">
        <option value="0">Films</option>
        <option value="1">People</option>
        <option value="2">Planets</option>
        <option value="3">Species</option>
        <option value="4">Starship</option>
        <option value="5">Vehicles</option>
    </select>
    <button (click)="startButtonClicked()">Start</button>
</div>