﻿<app-board-options (startButtonClick)="startButtonClicked()" *ngIf="showOptions"></app-board-options>
<div *ngIf="!showOptions">
    <div>
        {{roundMessage}}
    </div>
    <div>
        {{currentCard.name}}
        {{currentCard.description}}
    </div>
    <div *ngFor="let attribute of currentCard.attributes;">
        <div (click)="compareAttributes(attribute)">
            {{attribute.label}}
        </div>
        <div>
            {{attribute.value}}
        </div>
    </div>
</div>
